
<h1> hi </h1>
<h1> hi </h1>
<h1> jaya kiran  </h1>
<h1> good morning </h1>

<h1 style="color:red"> This is my index page</h1>
<h1 style="color:green"> My ansible node os is:{{ansible_os_family}}</h1>
<h1 style="color:green"> My ansible node ip is:{{ansible_all_ipv4_addresses}}</h1>
<h1 style="color:green"> My ansible node javapackage is:{{myjavaUbuntu}}</h1>
